---
layout: default
pagination:
  enabled: true
---

<div class="posts">
  
  <div class="row">
    <div class="col-sm-8">
     {% for post in paginator.posts %}
       {% include archive_single.html post=post %}
	 {% endfor %}

	 <!-- Pagination links -->
	 <div class="pagination">
    {% comment %} Determine whether the first page and the last page are already included in trail (need for TODO ellipses) {% endcomment %}
    {% for trail in paginator.page_trail %}
      {% if trail.num == paginator.first_page %}
        {% assign has_first_page = true %}
      {% elsif trail.num == paginator.last_page %}
        {% assign has_last_page = true %}
      {% endif %}
    {% endfor %}

	   {% if paginator.previous_page == nil %}
       {% assign previous_page_class = "pagination-disabled" %}
	   {% endif %}

     	{% if paginator.next_page == nil %}
       {% assign next_page_class = "pagination-disabled" %}
	   {% endif %}

	  <a href="{{ paginator.previous_page_path }}" class="newer {{previous_page_class}}">&larr; Newer</a>
    <div class="page-numbers">
    {% for page in paginator.page_trail %}
      {% if page.num == paginator.page %}
        <span class="page-button current-page">{{ page.num }}</span>
      {% else %}
        <span class="page-button"><a href="{{ page.path }}">{{ page.num }}</a></span>
      {% endif %}
    {% endfor %}
        </div>
	   <a href="{{ paginator.next_page_path }}" class="older {{next_page_class}}">Older &rarr;</a>
	 </div>
	 </div>

	 {% include sidebar.html %}

  </div>
</div>
